/*CSS CODE CODE GOES HERE*/
p{
    color: red;
    text-align: right;
    text-decoration: underline;
}
img{

}

h1{

}

.images{

}
#myParagraph{
    color: blue;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}

